<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>BMI calculator</title>
</head>
<body>
    <h1>BMI calculator</h1>
    <p>Hi how's it going, I hope you are right.</p>
    <form action="/" method="post">
        <label for="userheight">Height:</label>
        <input type="text" name="userheight" placeholder="plz entre your Height in CM" required><br><br>
        <label for="userweight">Weight:</label>
        <input type="text" name="userweight" placeholder="plz entre your Weight in KG" required*><br><br>
        <button type="submit">Calculate</button>
    </form><br>



    <div>
        {% if bmi %}
            <p>Your BMI is <i style="color: goldenrod">{{ bmi }}</i> <b style="color: red">kg/m²</b></p>
        {% endif %}
    </div>
        
</body>
</html>